.fancy-paginate {

}
.fancy-paginate nav .pagination {

}
.fancy-paginate nav .pagination .page-item {
    
}
.fancy-paginate nav .pagination .page-item.disabled {
    
}
.fancy-paginate nav .pagination .page-item.disabled .page-link {
    background: #dadada;
}
.fancy-paginate nav .pagination .page-item:first-child  {
    float: left;
    margin-right: auto;
}
.fancy-paginate nav .pagination .page-item:last-child {
    float: right;
    margin-left: auto;
}
.fancy-paginate nav .pagination .page-item .page-link {
    border-radius: .25rem;
    background: linear-gradient(to right, #7450fe 0%, #21d397 100%), linear-gradient(to right, #7450fe 0%, #21d397 100%);
    color: #fff;
    border: unset;
    transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
}
.fancy-paginate nav .pagination .page-item .page-link:hover {
    transform: scale(1.1);
}

/* Home - Panti Search */
#feature-pantisearch {
}
#feature-pantisearch #panti-title {
    width: 100%;
    padding-top: 1rem;
    text-align: center;
    background: #fff;
    margin: 0;
    font-size: 29px;
    color: #232d37;
    border-radius: .25rem;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
}
#feature-pantisearch #panti-submit {
    background: linear-gradient(to right, #7450fe 0%, #21d397 100%), linear-gradient(to right, #7450fe 0%, #21d397 100%);
    color: #fff;
    width: 100%;
    padding: 1rem;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
    border-top: unset;
    border-right-color: #21d397;
    border-left-color: #7450fe;
}
#feature-pantisearch #panti-submit:not([disabled]):hover {
    cursor: pointer;
}
#feature_pantisearch.progress::after {
    position: absolute;
    content: "Please Wait";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(96, 125, 139, .75);
}

#panti-area {
    position: relative;
}
#panti-area .panti-container {
    border-radius: .25rem;
    transition: all 500ms;
    box-shadow: 0px 0px 2px rgba(19, 22, 39, .3);
    background: linear-gradient(to right, #7450fe 0%, #21d397 100%), linear-gradient(to right, #7450fe 0%, #21d397 100%);
    padding: .2rem;
}
#panti-area .panti-container:hover {
    box-shadow: 2px 8px 40px rgba(0, 0, 0, 0.1);
}
#panti-area .panti-container .panti-thumb {
}
#panti-area .panti-container .panti-thumb img {
    width: 170px;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}
#panti-area .panti-container .panti-content {
    background: #fff;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}
#panti-area .panti-container .panti-content .panti-title {
    padding: .5rem 1rem;
    background: #ebebeb;
    border-top-right-radius: .25rem;
    color: #000;
    display: block;
    transition: all .5s;
}
#panti-area .panti-container .panti-content .panti-title:hover {
    color: #3a16ca;
}
#panti-area .panti-container .panti-content .panti-subtitle {
    font-weight: 200;
    font-size: 14px;
    padding: .25rem 1rem;
    background: #dadada;
}
#panti-area .panti-container .panti-content .panti-desc {
    padding: .5rem 1rem;
    border-bottom-right-radius: .25rem;
}

/* Panti Detail */
#panti_detail-area {

}
#panti_detail-area .section-heading {
    text-align: left !important;
    font-size: 30px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 20px;
    margin-bottom: 3rem;
}
#panti_detail-area .section-heading h2 {
    margin-bottom: 0;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
}

@media only screen and (max-width: 599px) {
    /* For phone */
    #panti-area {
        position: relative;
        padding-top: 1rem;
    }
    #panti-area .panti-container {
    }
    #panti-area .panti-container:hover {
    }
    #panti-area .panti-container .panti-thumb {
    }
    #panti-area .panti-container .panti-thumb img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    #panti-area .panti-container .panti-content {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: .25rem;
        border-bottom-left-radius: .25rem;
    }
    #panti-area .panti-container .panti-content .panti-title {
    }
    #panti-area .panti-container .panti-content .panti-subtitle {
    }
    #panti-area .panti-container .panti-content .panti-desc {
    }
}