
@media (max-width: 576px) {
    .nav-item.dropdown.show .dropdown-menu.show {
        position: fixed;
        top: 50px;
        left: 50%;
        right: 50%;
        transform: translateX(-50%);
    }
}